@charset "UTF-8";

/*
	border:2px solid #d0d0d0;
*/
/*
	#5A7EFF -> 파랑 
	#FFCD4A -> 노랑
	#e45b68 -> 빨강
*/
/*
	font-family: 'NanumSquareNeoLight';
	font-family: 'NanumSquareNeo';
	font-family: 'NanumSquareNeoBold';
	font-family: 'NanumSquareNeoExtraBold';
	font-family: 'NanumSquareNeoHeavy';
*/


/* 본문  */
.ProductContent{
	margin-top: 170px;
    display: grid;
    justify-content: center;
    grid-template-columns: 450px 700px;
    grid-template-rows: 450px 200px;
    margin-bottom: 40px;
}

/* 상품 정보 상부  */
/* .ProductTop{
    height: 500px;
	text-align: left;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
} */
/* 이미지 div  */
.ProductImage{
	grid-row: 1;
	grid-column: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* 상품 거래 상태 표시  */
.onSellDisplay{
	position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #d0d0d040;
    opacity: 0.9;
    z-index: 1;
    font-size: 50px;
    font-family: 'NanumSquareNeoHeavy';
}
/* 캐러샐 버튼  */
.carousel-control-prev, .carousel-control-next{
	border: 0px;
}

/* 상품 정보 요약  */
.ProductSummary{
	grid-row: 1;
    grid-column: 2;
    padding-left: 40px;
    text-align: left;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

/* 상품 이름  */
.ProductTitle{
   height: 110px;
    font-size: 45px;
    align-items: center;
    display: flex;
}

/* 상품 가격  */
.ProductPrice{
    height: 90px;
    font-size: 60px;
}

/* 상품 판매자, 상태 div  */
.ProductInfo{
	display: flex;
	flex-direction:column;
	font-size: 20px;
}


.ProductCondition_1, .ProductSellerId_1, .ProductRegDate_1, .ProductSold_1{
	width:150px;
	height: 40px;
}

.ProductCondition, .ProductSellerId, .ProductRegDate, .ProductSold{
	display: flex;
	flex-direction:row;
	height: 40px;
}

/* 버튼  */
.buttons{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        align-items: center;
}

/* 메세지 이동 버튼  */
.chatLink{
	width: 30%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
     background-color: #5A7EFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


/* 본문  */
.ProductBottom{
	grid-row: 2;
    grid-column: 1/3;
    font-size: 20px;
	padding: 30px;
    text-align: left;
}


/* 수정 버튼 div  */
.logonActiveButtons{
	padding-bottom: 10px;
    grid-column: 1/3;
    border-bottom: 2px solid #d0d0d0;
	display: flex;
    align-items: center;
    justify-content: center;
}

/* 수정 버튼 */
.modButton{
	background-color: #5A7EFF;
    color: white;
    border:none;
    border-radius: 3px;
    cursor: pointer;
    width: 80px;
    height: 35px;
    font-size: 16px;
}

/* 댓글 구역  */
.commentContent{
	
}

table{
	border: 2px solid #d0d0d0;
    border-left: none;
    border-right: none;
    padding-left: 75px;
    padding-right: 75px;
}

tr{
	min-height: 40px;
    height: 40px;
    border-bottom: 1px solid #d0d0d0;
}
/* 댓글 구매자 아이디 영역 */
.comBuyer_id{
    display: inline-block;
    width: 120px;
    margin-right: 20px;
    font-size: 14px;
    color: #5A7EFF;
    font-family: 'NanumSquareNeoExtraBold';
    margin-left: 15px;
}
/* 댓글 판매자 아이디  영역*/
.comSeller_id{
    display: inline-block;
    width: 120px;
    margin-right: 20px;
    font-size: 14px;
    color: #7a7a7a;
    font-family: 'NanumSquareNeoBold';
    margin-left: 15px;
}
/* 댓글 작성 날짜  */
.commentDate{
	color: gray;
    font-size: 12px;
}
/* 댓글 내용  */
.comment_content{
	margin-left: 25px;
    margin-right: 30px;
}
/* 댓글 작성버튼  */
.commentSubmit{
	background-color: #5A7EFF;
	border: none;
	color:white;
	border-radius: 3px;
    width: 80px;
    height: 37px;
}


/* 글 이동 버튼  div */
.articleCtrl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* 글 이동 버튼  */
.toList{
    background-color: #5A7EFF;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}