@charset "UTF-8";

/*
	border:2px solid #d0d0d0;
*/
/*
	#5A7EFF -> 파랑 
	#FFCD4A -> 노랑
	#e45b68 -> 빨강
*/
/*
	font-family: 'NanumSquareNeoLight';
	font-family: 'NanumSquareNeo';
	font-family: 'NanumSquareNeoBold';
	font-family: 'NanumSquareNeoExtraBold';
	font-family: 'NanumSquareNeoHeavy';
*/


.chatTitle{
	font-size: 40px;
    text-align: left;
    padding-left: 30px;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
    display: flex;
    flex-shrink: 0;
}


.chatContent{
	margin-top: 30px;
    display: flex;
    justify-content: center;
}


#chatArea {
	    display: flex;
    flex-direction: column;
    width: 600px;
    height: 650px;
    border-top: 2px solid #d0d0d0;
}




.chatUpper{
	display: flex;
    padding: 10px;
    align-items: center;
    font-size: 30px;
    border-bottom: 1px solid #d0d0d0;
}

.chatImg{
	width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.chatSummary{
	width: 100%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chatWith{
	
}

.chatInfo{
    width: 100%;
    display: flex;
    align-items: center;
}

.chatPr_sold{
        height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.chatPr_title{
	height: 50px;
    font-size: 35px;
    margin-left: 20px;
}

.chatPr_price{
	height: 70px;
    font-size: 25px;
    font-family: 'NanumSquareNeoBold';
    align-items: center;
    display: flex;
}

#messageArea {
	width: 100%;
    height: 100%;
    text-align: right;
	background-color: #ffcd4a29;
	padding-top: 13px;
}
#sMA{
	width: 583px;
	display: flex;
	flex-direction: row-reverse;
	
}
#sM{
	margin:4px 10px;
	font-size:17px;
	color:#fff;
	background:#5A7EFF;
	border-radius:4px;
	padding-left: 5px;
	
}

#sS{
	font-size:11px;
	color:#c7c7c7;
	margin-left:5px;
	margin-right:5px;
}

#rMA{
	width: 583px;
	display: flex;
}

#rM{
	margin: 4px 10px;
	font-size: 17px;
	color: #181818;
	background: #FFCD4A;
	border-radius: 4px;
	padding-left: 5px;
}

#rS{
	font-size:11px;
	color:#777;
	margin-left: 5px;
	margin-right: 5px;
}

.sendingArea{
	display: flex;
    height: 41px;
    border-top: 1px solid #d0d0d0;
    border-bottom: 2px solid #d0d0d0;
}

.inputMessage{
	    width: 100%;
    height: 38px;
    display: flex;
}

#message{
	width: 530px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}

.sendingButton{
	widows: 50px;
}

#sendBtn{
	border: none;
    background: #5A7EFF;
    color: white;
    height: 38px;
    width: 50px;
    border-radius: 3px;
}