@charset "UTF-8";


/* 리스트 내 이미지 div */
.chatListImgDiv{
	width: 150px;
    height: 150px;
	
}

/* 리스트 내 이미지 */
.chatListImg{
	object-fit: contain;
    width: 100%;
    height: 100%;
	
}