@charset "UTF-8";

/*
	#5A7EFF -> 파랑 
	#FFCD4A -> 노랑
*/



/* 네비게이션 바 */
.nav_bar{
	position: relative;
    margin-left: 150px;
    margin-right: 150px;
    min-width: 1100px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* 로고 */
.logo{
	position: absolute;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width:180px;
    height: 130px;
}

.bar{
	position: absolute;
    left: 220px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-top: 30px;
}

.navbar_top{
	margin-bottom: 10px;
	width:500px;
}

/* 검색 버튼 */
.searchBtn{
	width:60px;
	color:white;
	background-color: #5A7EFF;
	border: 0px;
	border-radius: 3px;
	margin-left: 10px;
}

.navbar_bottom{

}

/* 카테고리 */
.nav_category{
	list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    font-size: 19px;
}
/* 카테고리 링크 */
.category_item{
	
}

/* 로그인여부, 버튼 div */
.nav_right{
	position: absolute;
    right: 0;
    width: 390px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.nav_welcomeUser_id{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 30px;
    padding-top: 10px;
    font-size: 13px;
    
}

.nav_buttons{
	height:100px;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.nav_login, .nav_writeProduct, .nav_message {
	display: flex;
	flex-direction:row;
	width: 80px;
	height: 40px;
    justify-content: center;
    align-items: center;
	border-radius: 5px;
	cursor: pointer;
	color:white;
	background-color: #5A7EFF;
}
.nav_login {

}
.nav_writeProduct {
	
}
.nav_message {
	
}