@charset "UTF-8";

#container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border: 0px solid #bcbcbc;
}


#header {
	position:fixed;
	display:flex;
	flex-wrap:wrap;
	top:0;
	width:100%;
	height:130px;
	border: 0px solid #bcbcbc;
	background-color: white;
	z-index: 10;
}

body{
	margin:0 auto;
}

#side-left {
	float:left;
	width: 150px;
	height: 300px;
	background-color: white;
}

#content {
	margin-top:130px;
	min-height:800px;
}

#side-right{
	float:right;
	width: 150px;
	height: 300px;
	background-color: white;
}


#footer {
	clear:both;
	margin-top:40px;
	padding: 5px;
	border-top: 1px solid #bcbcbc;
	background-color: lightblue;
	display:flex;
	flex-direction: column;
	width:100%;
	bottom:0;
}
