@charset "UTF-8";

#container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border: 0px solid #bcbcbc;
}

#header {
	padding: 5px;
	margin-bottom: 5px;
	border: 0px solid #bcbcbc;
}

body{
	margin:0 auto;
	padding-top : 120px;
}

#side-left {
	float:left;
	width: 100px;
	height: 80%;
	background-color: silver;
	border: 0px solid #bcbcbc;
	font-size: 10px;
	left:0;
}

#content {
	position:left;
    min-height:100vh;
	padding: 5px;
	border: 0px solid #bcbcbc;
    display:flex;
}

#side-right{
	float:right;
	width: 100px;
	height: 80%;
	background-color: silver;
	border: 0px solid #bcbcbc;
	font-size: 10px;
	right:0;
	
}


#footer {
	clear:both;
	margin-top:auto;
	padding: 5px;
	border-top: 1px solid #bcbcbc;
	background-color: lightblue;
	display:flex;
	flex-direction: column;
	width:100%;
	bottom:0;
}

.no-underline {
	text-decoration: none;
}

.footer_p {
	text-align: center;
	font-size: 15px;
}

.sel-page {
	text-decoration: none;
	color: red;
}

