@charset "UTF-8";

#container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border: 0px solid #bcbcbc;
}

#header {
	padding: 5px;
	margin-bottom: 5px;
	border: 0px solid #bcbcbc;
}

body{
	margin:0 auto;
	padding-top : 120px;
}

#side-left{
	width: 150px;
	height: 80%;
	float: left;
	background-color: silver;
	border: 0px solid #bcbcbc;
	font-size: 10px;
	
}

#sidebar-left {
	width: 15%;
	height: 570px;
	padding: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
	background-color: yellow;
	border: 0px solid #bcbcbc;
	font-size: 10px;
}

#content {
    min-height:100vh;
	padding: 5px;
	margin-right: 5px;
	margin: 0px auto;
	border: 0px solid #bcbcbc;
	dispaly:flex;
}

#footer {
	clear: both;
	margin-top:auto;
	padding: 5px;
	border-top: 1px solid #bcbcbc;
	background-color: lightblue;
	display:flex;
	flex-direction: column;
}

.no-underline {
	text-decoration: none;
}

.footer_p {
	text-align: center;
	font-size: 15px;
}

.sel-page {
	text-decoration: none;
	color: red;
}

.cls1 {
	text-decoration: none;
}

.cls2 {
	text-align: center;
	font-size: 30px;
}