@charset "UTF-8";

/* 상품 정보 상부  */
.ProductTop{
	display: grid;
    grid-template-columns: 450px 700px;
    height: 500px;
	text-align: left;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
}
/* 이미지 div  */
.ProductImage{

}
/* 캐러샐 버튼  */
.carousel-control-prev, .carousel-control-next{
	border: 0px;
}

/* 상품 정보 요약  */
.ProductSummary{
	padding-left: 40px;
	display: flex;
    flex-direction: column;
}

/* 상품 이름  */
.ProductTitle{
	height : 150px;
	font-size: 45px;
}

/* 상품 가격  */
.ProductPrice{
	font:bolder;
	font-size: 60px;
}

/* 상품 판매자, 상태 div  */
.ProductInfo{
	display: flex;
	flex-direction:column;
	font-size: 20px;
}


.ProductCondition_1, .ProductSellerId_1{
	width:150px;
	height: 40px;
}

.ProductCondition, .ProductSellerId{
	display: flex;
	flex-direction:row;
	height: 40px;
}

/* 버튼  */
.buttons{
    height: 100px;
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* 메세지 이동 버튼  */
.chatLink{
	width: 30%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #6200EE;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


/* 본문  */
.ProductContent{
	font-size: 20px;
}

/* 글 이동 버튼  div */
.articleCtrl{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 글 이동 버튼  */
.prevProduct, .toList, .nextProduct{
	margin: 5px;
    width:70px;
    background-color: #6200EE;
    color:white;
    border-radius: 3px;
    cursor: pointer;
}
