@charset "UTF-8";

/*
	border:2px solid #d0d0d0;
*/
/*
	#5A7EFF -> 파랑 
	#FFCD4A -> 노랑
*/

/* 본문  */
.ProductContent{
	margin-top: 170px;
    display: grid;
    justify-content: center;
    grid-template-columns: 450px 700px;
    grid-template-rows: 450px 200px;
}
/* 상품 정보 상부  */
/* .ProductTop{
    height: 500px;
	text-align: left;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
} */
/* 이미지 div  */
.ProductImage{
	grid-row:1;
	grid-column:1;
}
/* 캐러샐 버튼  */
.carousel-control-prev, .carousel-control-next{
	border: 0px;
}

/* 상품 정보 요약  */
.ProductSummary{
	grid-row: 1;
    grid-column: 2;
    padding-left: 40px;
    text-align: left;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

/* 상품 이름  */
.ProductTitle{
   height: 120px;
    font-size: 45px;
    align-items: center;
    display: flex;
}

/* 상품 가격  */
.ProductPrice{
    height: 110px;
    font-size: 60px;
}

/* 상품 판매자, 상태 div  */
.ProductInfo{
	display: flex;
	flex-direction:column;
	font-size: 20px;
}


.ProductCondition_1, .ProductSellerId_1, .ProductRegDate_1{
	width:150px;
	height: 40px;
}

.ProductCondition, .ProductSellerId, .ProductRegDate{
	display: flex;
	flex-direction:row;
	height: 40px;
}

/* 버튼  */
.buttons{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        align-items: center;
}

/* 메세지 이동 버튼  */
.chatLink{
	width: 30%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #6200EE;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
/* 수정 삭제 버튼  */
.logonActiveButtons{
	
}

/* 본문  */
.ProductBottom{
	grid-row: 2;
    grid-column: 1/3;
    font-size: 20px;
    margin-top:50px;
    margin-left:40px;
    text-align: left;
}

/* 글 이동 버튼  div */
.articleCtrl{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 글 이동 버튼  */
.prevProduct, .toList, .nextProduct{
	margin: 5px;
    width:70px;
    background-color: #6200EE;
    color:white;
    border-radius: 3px;
    cursor: pointer;
}
