@charset "UTF-8";

/*
	border:2px solid #d0d0d0;
*/
/*
	#5A7EFF -> 파랑 
	#FFCD4A -> 노랑
	#e45b68 -> 빨강
*/
/*
	font-family: 'NanumSquareNeoLight';
	font-family: 'NanumSquareNeo';
	font-family: 'NanumSquareNeoBold';
	font-family: 'NanumSquareNeoExtraBold';
	font-family: 'NanumSquareNeoHeavy';
*/

.viewListTitle{
	font-size: 35px;
	font-family: 'NanumSquareNeoExtraBold';
}


/* 리스트카드 이미지 크기 */
.card-img-top{
	height: 15rem;
	object-fit: cover;
	padding-bottom: 5px;
}
.onSellDisplay{
	position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 235px;
    background-color: #d0d0d06e;
    opacity: 0.9;
    z-index: 1;
    font-size: 35px;
    font-family: 'NanumSquareNeoExtraBold';
    color: white;
}

/* 리스트카드 크기  */
.card-body{
	height: 70px;
	padding:0px;
}

/* 리스트카드 내용 텍스트(가격,regDate)  */
.card-text{
	height:10px;
	padding:0px;
} 

/* 리스트카드 제목 */
.card-title{
	padding-bottom: 0px;
}

/* 메인 페이징  */
.pageNum{
	clear: both;
	margin-top: auto;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.page {
    color: black;
    }
.paging-active{
   background-color: rgb(216, 216, 216);
   border-radius: 5px;
   color: rgb(24, 24, 24);
} 