@charset "UTF-8";

/*
	#5A7EFF -> 파랑 
	#FFCD4A -> 노랑
*/

.memberFormTitle{
	margin-top: 180px;
	font-size: 45px;
}

.div_memberForm {
	margin-top: 30px;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
}

tr{
	text-align: left;
}

/* 중복체크 버튼 */
.regIdCheck{
	background-color: #5A7EFF;
	border-style: none;
	color: white;
	border-radius: 3px;
	width: 90px;
	height: 30px;
}

/* 회원가입 버튼 */
.joinButton{
	background-color: #5A7EFF;
	border-style: none;
	color: white;
	border-radius: 3px;
	width: 100px;
	height: 40px;
}