/*
	border:2px solid #d0d0d0;
*/
/*
	#5A7EFF -> 파랑 
	#FFCD4A -> 노랑
*/

/* 마이페이지 전체 영역 */
.mypageBody{
	margin-top: 150px;
    display: flex;
    flex-direction: row;
    min-height: 600px;
}

/* 마이페이지 사이드바 영역 */
.mypageSidebar {
	display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 300px;
    float: left;
    padding-right:5px;
    border-right: 2px solid #d0d0d0;
}

/* 마이페이지 사이드바 프로필 영역 */
.profile {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width: 300px;
	height: 300px;
	font-size: 20px;
	object-fit: cover;
}

/* 마이페이지 사이드바 프로필 사진 없을 경우*/
.noProfileImg{
	display: flex;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    /* border: 3px solid #FFCD4A; */
    font-family: 'NanumSquareNeoHeavy';
    color: #5A7EFF;
    background-color: #FFCD4A;
}

/* 마이페이지 사이드바 프로필 사진 있을 경우*/
.profileImg{
	margin-top:5px;
	margin-bottom:20px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	object-fit: cover;
    border: 2px solid #FFCD4A;
}

/* 마이페이지 사이드바 메뉴*/
.mypageMenu{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
/* 마이페이지 사이드바 메뉴 링크*/
.mypageMenuHref {
	font-size:20px;
	color: black;
	margin-bottom: 5px;
}

/* 마이페이지 본문 영역*/
.mypageContent{
	width: 100%;
    margin-left: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction:column;
    flex-shrink: 0;
	width: 800px;
}
/* 마이페이지 본문 제목*/
.menuTitle{
	font-size: 40px;
    text-align: left;
    padding-left: 30px;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
    display: flex;
    flex-shrink: 0;
}
/* 마이페이지 본문 내용 영역*/
.menuContent{
	padding-top: 30px;
    text-align: left;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

tr{
   height: 70px;
}

.modTableLabel{
   width: 120px;
   text-align: right;
   
}
.modTableContent{
   width:270px;
   text-align: center;
}

/* 정보 수정 프로필 사진 영역*/
.modProfile{
	display: flex;
    width: 150px;
    height: 150px;
	margin-bottom: 25px;
    align-items: center;
    justify-content: center;
}
/* 정보 수정 프로필 사진 있을 경우*/
.modProfileImg{
	display: flex;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFCD4A;
    object-fit: cover;
    
}
/* 정보 수정 프로필 사진 없을 경우*/
.modNoProfileImg{
	display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-family: 'NanumSquareNeoBold';
    color: #5A7EFF;
    background-color: #FFCD4A;
}

/* 프로필 사진 파일 삭제 버튼*/
.fileCancle{
    color: white;
    border: none;
    background: #5A7EFF;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    font-size: 15px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 300px;
}

.button{
	background-color: #5A7EFF;
	border-style: none;
	color: white;
	border-radius: 3px;
	width: 120px;
	height: 35px;
}
